In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("CSCI316Lab9") \
.config("spark-master", "local") \
.getOrCreate()

In [3]:
spark

In [4]:
df_FD = spark.read.format("json").load("/Users/hp/Desktop/New folder/2015-summary.json")

In [5]:
df_FD.show(20)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [6]:
from pyspark.sql import SQLContext

In [7]:
RDD1 = df_FD.select(df_FD['DEST_COUNTRY_NAME'], df_FD['count'])
RDD1.show(10)

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|   15|
|    United States|    1|
|    United States|  344|
|            Egypt|   15|
|    United States|   62|
|    United States|    1|
|    United States|   62|
|       Costa Rica|  588|
|          Senegal|   40|
|          Moldova|    1|
+-----------------+-----+
only showing top 10 rows

In [8]:
from pyspark.sql.functions import *

In [9]:
RDD2 = df_FD.select(expr("DEST_COUNTRY_NAME AS tujuan"), ("count"))
RDD2.show(10)

+-------------+-----+
|       tujuan|count|
+-------------+-----+
|United States|   15|
|United States|    1|
|United States|  344|
|        Egypt|   15|
|United States|   62|
|United States|    1|
|United States|   62|
|   Costa Rica|  588|
|      Senegal|   40|
|      Moldova|    1|
+-------------+-----+
only showing top 10 rows

In [10]:
RDD3 = df_FD.select(expr("ORIGIN_COUNTRY_NAME AS asal"), ("count"))
RDD3.show(10)

+-------------+-----+
|         asal|count|
+-------------+-----+
|      Romania|   15|
|      Croatia|    1|
|      Ireland|  344|
|United States|   15|
|        India|   62|
|    Singapore|    1|
|      Grenada|   62|
|United States|  588|
|United States|   40|
|United States|    1|
+-------------+-----+
only showing top 10 rows

In [11]:
RDD4 = df_FD.selectExpr("COUNT(DISTINCT(DEST_COUNTRY_NAME))")
RDD4.show(5)

+---------------------------------+
|count(DISTINCT DEST_COUNTRY_NAME)|
+---------------------------------+
|                              132|
+---------------------------------+

In [12]:
RDD5 = df_FD.selectExpr("AVG(count)", "COUNT(DISTINCT(ORIGIN_COUNTRY_NAME))", "AVG(count)")
RDD5.show(5)

+-----------+-----------------------------------+-----------+
| avg(count)|count(DISTINCT ORIGIN_COUNTRY_NAME)| avg(count)|
+-----------+-----------------------------------+-----------+
|1770.765625|                                125|1770.765625|
+-----------+-----------------------------------+-----------+

In [13]:
RDD6 = df_FD.select(expr("ORIGIN_COUNTRY_NAME AS asal"), expr("count AS hitung"))
RDD6.show(10)

+-------------+------+
|         asal|hitung|
+-------------+------+
|      Romania|    15|
|      Croatia|     1|
|      Ireland|   344|
|United States|    15|
|        India|    62|
|    Singapore|     1|
|      Grenada|    62|
|United States|   588|
|United States|    40|
|United States|     1|
+-------------+------+
only showing top 10 rows

In [14]:
RDD7 = df_FD.groupBy("ORIGIN_COUNTRY_NAME").count().show(10)

+-------------------+-----+
|ORIGIN_COUNTRY_NAME|count|
+-------------------+-----+
|           Paraguay|    1|
|             Russia|    1|
|           Anguilla|    1|
|            Senegal|    1|
|             Sweden|    1|
|           Kiribati|    1|
|             Guyana|    1|
|        Philippines|    1|
|          Singapore|    1|
|           Malaysia|    1|
+-------------------+-----+
only showing top 10 rows

In [15]:
df_FD.select("DEST_COUNTRY_NAME").distinct().count()

AttributeError: 'int' object has no attribute 'show'